{% extends "HighlandWanderer/base.html" %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="register-container">
    <div class="register-card">
        <h2 class="register-title">Create an Account</h2>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>

        <p class="login-redirect">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}